// Variables
$confirm-colour: rgb(11, 200, 22);
$undo-colour: rgb(240, 240, 240);
$cancel-colour: rgb(68, 68, 68);
$cont-colour: rgb(74, 74, 90);


@import "reset.scss";

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700,700i');

h1,
h2,
h3,
p,
li {
    font-family: Barlow;
}

h1,
h2,
h3 {
    font-weight: 500;
    color: #212121;
    line-height: 1.4;
    letter-spacing: .03em;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

p,
li {
    font-size: 1em;
    font-weight: 400;
    margin: .2em 0 .6em;
}

li {
    display: inline-block;
    padding-right: .8em;
}

small {
    font-size: 80%;
}

header,
main,
footer {
    padding: 1em;
    clear: left;
}

header {
    >* {
        width: auto;
        float: left;
        padding-right: 1.2em;
    }
}

main {
    max-width: 800px;
    padding: 2em 1em;
}

footer {
    margin: 4em 1em 0;
    padding: 2em 1em;
    border-top: 1px solid #ccc;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, .74);
    display: none;
    z-index: 1;
    @at-root #{&}__inner {
        position: fixed;
        background: rgb(240, 240, 240);
        bottom: 0;
        width: 100%;
        max-width: 643px;
        z-index: 2;
        display: none;
    }

    @at-root #{&}__header {
        padding: 1em;

        img,
        h3 {
            float: left;
            padding-bottom: 1em;
        }

        img {
            width: 30px;
            margin-right: 15px;
        }

        h3 {
            width: 80%;
        }

        p {
            clear: both;
        }
    }

    @at-root #{&}__main {
        border-top: 1px solid #555;
        padding: .5em 1em;
    }
}

.btn {
    transition: all .35s ease;
    cursor: pointer;
    padding: 11px;
    border-width: 2px;
    border-style: solid;

    @at-root #{&}__text {
        font-family: Barlow;
        font-weight: 700;
        font-style: italic;
    }

    @at-root #{&}--confirm {
        background-color: $confirm-colour;
        color: white;
        border-color: darken($confirm-colour, 10%);

        &:hover {
            background-color: darken($confirm-colour, 10%);
        }
    }

    @at-root #{&}--undo {
        background-color: $undo-colour;
        color: #212121;
        border-color: #212121;

        &:hover {
            background-color: #212121;
            color: white;
        }
    }

    @at-root #{&}--cancel {
        color: $cancel-colour;
        border-color: $cancel-colour;

        &:hover {
            background-color: lighten($cancel-colour, 60%);
        }
    }

    @at-root #{&}--continue {
        color: white;
        background-color: $cont-colour;
        border-color: $cont-colour;

        &:hover {
            background-color: darken($cont-colour, 20%);
        }
    }

    @at-root #{&}--main {
        font-size: 1.15em;
        border-radius: 4px;
        margin: 2em 1em 2em 0;
        width: 120px;
    }

    @at-root #{&}--modal {
        width: 100%;
        border-radius: 6px;
        margin: 0 0 .5em;
        font-size: 1.2em;
    }

    @at-root #{&}--solo {
        display: block;
        margin: 0 auto .5em;
    }
}

@media only all and (min-width: 700px) {
    .modal__inner {
        bottom: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal__header {
        padding: 3em;
    }

    .modal__main {
        padding: .5em 4em;
    }

    .btn {
        @at-root #{&}--modal {
            width: 49%;
        }

        @at-root #{&}--continue {
            float: right;
        }

        @at-root #{&}--solo {
            float: none;
        }
    }
}

@media only all and (min-width: 832px) {
    main {
        margin: 0 auto;
        padding: 4em 0;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.4em;
        margin: 0 0 1em;
    }

    h3 {
        font-size: 1.8em;
    }

    p,
    li {
        font-size: 1.18em;
    }

    .btn {
        padding: 16px;

        @at-root #{&}--main {
            font-size: 1.4em;
            width: 200px;
        }
    }

    .modal__inner {
        max-width: 722px;
    }

    .modal__header {
        padding: 3.6em 3.6em 2em;
    }
}